#container {
	width: 1280px;
	height: 01024px;
	background-color: #7E066A;
}
#header {
	top: 0px;
	position: absolute;
	width: 1280px;
	height: 200px;
	background-color: #600050;
}
#sidebar {
	height: 1024px;
	width: 400px;
	background-color: #FFFFFF;
	position: absolute;
	left: 11px;
	top: 200px;
}
