#container {
	width: 1280px;
	height: 01024px;
	background-color: #e1dfd9;
}
#header {
	top: 0px;
	position: absolute;
	width: 1280px;
	height: 150px;
	background-color: #7BCEF2;
	background-image: url(artwork/web_ready/headerlogo.gif);
	left: -1px;
}
#sidebar {
	height: 891px;
	width: 257px;
	background-color: #ffffff;
	position: absolute;
	left: 2px;
	top: 150px;
	float: none;
	padding-top: 50px;
	padding-left: 25px;
}
#selfportait {
	position: absolute;
	top: 159px;
	float: none;
	left: 307px;
	width: 215px;
	height: 290px;
	background-image: url(artwork/web_ready/selfportait.jpg);
}
#aboutme {
	background-color: #FFFFFF;
	position: absolute;
	width: 605px;
	height: 295px;
	left: 573px;
	top: 159px;
	color: #262626;
	font-size: 11pt;
	text-align: justify;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-indent: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#interests {
	background-color: #FFFFFF;
	position: absolute;
	width: 331px;
	height: 150px;
	top: 532px;
	left: 392px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 11pt;
	text-align: left;
	color: #262626;
	padding-top: 10px;
}
#trivia {
	background-color: #FFFFFF;
	position: absolute;
	width: 333px;
	height: 150px;
	top: 528px;
	left: 775px;
	color: #262626;
	font-size: 11pt;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: left;
	padding-top: 10px;
}
#aboutmelogo {
	background-color: #FCB040;
	position: absolute;
	width: 333px;
	height: 38px;
	top: 492px;
	left: 392px;
	background-image: url(artwork/web_ready/interestslogo.gif);
}
#interestslogo {
	background-color: #FCB040;
	position: absolute;
	width: 333px;
	height: 38px;
	left: 774px;
	top: 490px;
	background-image: url(artwork/web_ready/funfactslogo.gif);
}
